<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.shreygupta.pullrequest" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Find My College!"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="Find My College!" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
